<div class="footer">
                <div class="footer-content"><span class="copyright-text">&#169;</span> 2023 All Rights Reserverd
                    <!--<br> CREATOR : Shadab Hussain --></div>
            </div>
        </div>
    </div>
</body>
</html>