<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Your Own Notes</title>
  <script src="https://cdn.ckeditor.com/4.19.1/standard/ckeditor.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  <link rel="shortcut icon" href="images/note_website_titlelogo.png" type="image/x-icon">
  <link rel="stylesheet" href="css/404.css">
</head>
<body>
  <div class="nav-bar">
    <div class="nav-content project-title">Note Taking Web Application</div>
    <div class="nav-content author-name">CREATOR : Shadab Hussain</div>
  </div>
  <div class="main-section">
    <div id="message-box" class="greet-msg">
      <div class="greet-text">
          <div id="welcoming-text" class="app-welcome-text"><h1> &#128532; 404 <br> "Page Not Found"</h1> <br> <h3>"You can continue your search for other pages"</h3> </div>
      </div>
    </div>
</body>
</html>