<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Your Own Notes</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  <link rel="shortcut icon" href="images/note_website_titlelogo.png" type="image/x-icon">
  <!-- <link rel="stylesheet" href="../public/css/note_web.css"> -->
  <link rel="stylesheet" href="css/note_web.css">
</head>

<body>
  <div class="nav-bar">
    <div class="nav-content project-title">Encrypted Notes</div>
    <div id="logout-menu">
      <div id="account-holder-name" class="nav-content user-name">
        <img src="images/11146.jpg" class="profile-photo" alt="user-photo">
        Danish Akhter
        <i class="bi bi-caret-down-fill"></i>
      </div>
      <div id="menu" class="dropdown-menu"><i class="bi bi-power"></i>Log Out</div>
    </div>
  </div>
  <div class="main-section">
    <div id="message-box" class="greet-msg">
      <div class="greet-text">
        <div id="welcoming-text" class="app-welcome-text">Welcome To The <br> "Note Taking Web App"</div>
        <div id="welcoming-salutation" class="salutation-text">Hello Mr. Danish</div>
      </div>
    </div>
    <div class="profile-data"></div>
    <div id="block" class="note-taking-box">
      <div class="note-taking-section main-section-left">
        <div class="note-taking-section-content">
          <div class="note-title-box">
            <div class="note-title">Note Title :</div>
            <div class="note-title-input-block">
              <input type="text" name="note-title" id="note-title" class="title-field" placeholder=" NOTE TITLE..."
                required>
            </div>
          </div>
          <div class="note-content-box">
            <div class="note-description">Note Description :</div>
            <div class="note-description-input-box">
              <textarea name="note-content" id="note-content" class="text-content" cols="30" rows="10"
                placeholder=" NOTE DESCRIPTION..." required></textarea>
            </div>
          </div>
          <div id="create-notecard" class="add-note-btn"><i class="bi bi-plus-circle"></i>Add Note</div>
        </div>
      </div>
      <div id="main-section-right" class="note-card-display">
        <div id="search-options-menu" class="search-note">
          <input type="text" name="search-note" id="search-title" placeholder="Note Title" required />
          <input type="text" name="search-note" id="search-description" placeholder="Note Description" required />
          <div id="date-search" class="date-search-block">
            <label for="from-search-date">From:</label>
            <input type="date" name="search-note" id="from-search-date" />
            <label for="from-search-date">To:</label>
            <input type="date" name="search-note" id="to-search-date" />
          </div>
          <div id="search-notebtn" class="search-button">Search</div>
        </div>
        <i id="search-option" class="bi bi-search"></i>
        <div id="card-display-block" class="note-card-display card-block">
          <div id="status-message" class="operation-status-message">Something Went Wrong</div>
          <div id="loading-design" class="wrap">
            <div class="loading">
              <div class="bounceball"></div>
              <div id="loading-text" class="text">NOW LOADING...</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <script src="../public/javascript/note.js"></script> -->
  <script src="javascript/note.js"></script>
</body>
</html>